<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        box-sizing: border-box;
      }

      html {
        font-family: "Inter", sans-serif;
      }

      body {
        max-width: 360px;
        margin: auto;
        padding: 35px;
      }

      header {
        margin-top: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      header .box-img {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: rgba(207, 207, 207, 0.192);
        border-radius: 80px;
      }

      header svg {
        background-image: radial-gradient(#811eeb3d, rgba(129, 30, 235, 0));
        border-radius: 50px;
        width: 70px;
        padding: 10px;
      }

      h2 {
        margin: 5px 0;
        font-weight: 500;
      }

      h3 {
        margin: 5px 0;
        font-weight: 500;
        color: rgb(112, 112, 112);
      }

      form {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
      }

      form .label {
        margin: 8px 0;
        font-size: small;
        font-weight: 600;
      }

      form input {
        border: 0.3px solid rgb(199, 199, 199);
        padding: 10px;
        border-radius: 10px;
        font-size: large;
        letter-spacing: 2px;
      }

      form button {
        background-color: #811eeb;
        margin-top: 20px;
        padding: 14px;
        border-radius: 10px;
        color: aliceblue;
        font-weight: 700;
        border: none;
      }

      #result {
        margin-top: 20px;
        text-align: center;
      }
    </style>
    <title>Recupera la password</title>
  </head>
  <body>
    <main>
      <header>
        <div class="box-img">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            height="70px"
            viewBox="0 0 24 24"
            width="70px"
            fill="#000000"
          >
            <g><path d="M0,0h24v24H0V0z" fill="none" /></g>
            <g>
              <g>
                <path
                  d="M2,17h20v2H2V17z M3.15,12.95L4,11.47l0.85,1.48l1.3-0.75L5.3,10.72H7v-1.5H5.3l0.85-1.47L4.85,7L4,8.47L3.15,7l-1.3,0.75 L2.7,9.22H1v1.5h1.7L1.85,12.2L3.15,12.95z M9.85,12.2l1.3,0.75L12,11.47l0.85,1.48l1.3-0.75l-0.85-1.48H15v-1.5h-1.7l0.85-1.47 L12.85,7L12,8.47L11.15,7l-1.3,0.75l0.85,1.47H9v1.5h1.7L9.85,12.2z M23,9.22h-1.7l0.85-1.47L20.85,7L20,8.47L19.15,7l-1.3,0.75 l0.85,1.47H17v1.5h1.7l-0.85,1.48l1.3,0.75L20,11.47l0.85,1.48l1.3-0.75l-0.85-1.48H23V9.22z"
                />
              </g>
            </g>
          </svg>
        </div>
        <h2>Imposta nuova password</h2>
        <h3>Imposta una nuova password</h3>
      </header>

      <form name="form" action="" method="post">
        <label class="label" for="password">Password</label>
        <input
          required
          type="password"
          name="password"
          placeholder="•••••••••"
          id="password"
        />
        <label class="label" for="password">Conferma password</label>
        <input
          required
          type="password"
          name="ripeti-password"
          placeholder="•••••••••"
          id="ripeti-password"
        />
        <button id="submit" type="submit">Reset Password</button>
        <p id="result"></p>
      </form>
    </main>
  </body>
  <script>
    const submitBtn = document.getElementById("submit");
    const [password, confirmPassword] = document.forms["form"];
    const result = document.getElementById("result");

    submitBtn.addEventListener("click", async () => {
      event.preventDefault();
      if (validate()) {
        const res = await fetch("/change-password/<%=token%>", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ password: password.value }),
        });
        if (res.status === 200) {
          result.innerHTML = "Cambio password effettuato!";
        }
        setTimeout(() => window.close(), 5000);
      }
    });

    function validate() {
      if (password.value === "" || confirmPassword.value === "") {
        result.innerHTML = "I campi non possono essere vuoti";
        return false;
      } else if (password.value !== confirmPassword.value) {
        result.innerHTML = "I campi devono coincidere";
        return false;
      } else return true;
    }
  </script>
</html>
